 .mn-50{
 min-height:260px;
 max-height:260px;
 }
  .mn-40{
   min-height:40px;
  }
  
  .ap-container iframe{
  height:auto !important;}
  

.ml-auto  {
    left: auto !important;
    right: 0px;
}
.modal-title{
	margin: 0 auto;
	display: block!important;
}
h2{ font-weight:500 !important;
	font-size:25px !important;
}
h4{ font-weight:430 !important;} 
	
.nav-tabs .nav-item .nav-link {
    text-transform: capitalize !important;
} 
#selector {
position: absolute;
   top: 35%;
   left: 45%;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
 .zui-wrapper {
    position: relative;
}
 .zui-scroller {
    margin-left: 11.6%;
    width:auto;

} 
.table-bordered, .table-bordered th, .table-bordered td{
	border: 1px solid black !important;
	font-size: 15px !important;
}
 th,td{
 	text-align: center;
 	padding: 2px !important;
 }
 .data-left th, .data-left td{
 	text-align: left;
 	padding: 1% !important;
 	margin-left: 1% !important;
 }
 .data-left{
 	padding: 2%;
 }
 #tableOne{
 	margin-bottom: 1% !important;
 }
 #tableOne th,td{
 	text-align: center;
 	padding: 0px !important;
 }
 .table-responsive .zui-sticky-col {
 	left:0;
    position: absolute;
    width: 12%;
    background-color:lightgrey;
} 
.tableh{
	top:30px;
}
/* .tableh{
	    padding-top: 3.5% !important;
	min-height: 49.5%;
}

.tablet{
	    padding-top: 3.5% !important;
	min-height: 45.5%;
} */

.maximize, .maximize1, .maximize3, .maximize4{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1052;
}

body {
	font-size: 15px !important;
}
.l4{
	left:4% !important;
}
.table{
	margin-bottom: 0 !important;
}
.width1{
	width: 10% !important;
}
.table .table{
	background-color: #ffffff;
}
body{
	font-weight: normal;
}
.card .card-header-danger .card-icon, .card .card-header-danger .card-text, .card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card.bg-danger, .card.card-rotate.bg-danger .front, .card.card-rotate.bg-danger .back {
    background: linear-gradient(60deg, #e53935,#ef5350 ) !important;
}
#cidi th,td{
	padding: 0px !important;
}
.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active {
	background-color: #ef5350 !important;
	}
	
.fixTable tr th{
min-height:94px;
}

.fixTbl tr th{
	min-height:116px;
}
.hCenter{
	text-align: center !important;
}