<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
 <head>

<link rel="stylesheet" href="/css/aui.css" media="all"></link>
<link rel="stylesheet" href="/css/aui-experimental.css" media="all"></link>
<link rel="stylesheet" href="/css/aui-ie9.css" media="all"></link>
<link rel="stylesheet" href="/css/css1.css"></link>
<link rel="stylesheet" href="/css/viewmetrics.css"></link>
<link rel="stylesheet" href="/css/table.css"></link>
<link rel="stylesheet" href="/css/validation.css"></link>
<script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>
<script th:src="@{${atlassianConnectAllJsUrl}}" data-options="sizeToParent:true" ></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
   <script src="/js/errorHandling.js"></script>
<style>
h5{
	text-align: center;
	margin:0% 0% 0% 3% !important;
}
h3{
	text-align: center !important;
	margin: 1% 0% 0% 1% !important;
}
</style>   




<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">7V7HDZ5JRX2H-659952857-82355</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">070bcc9b-ea55-46f3-a771-a2e0392afbea</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://senecaglobal.sharepoint.com/sites/FileServer/_layouts/15/DocIdRedir.aspx?ID=7V7HDZ5JRX2H-659952857-82355, 7V7HDZ5JRX2H-659952857-82355</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>

  
  
  <body>

    <div class="container">
      <header>
        <h2>CAUSAL ANALYSIS</h2>
      </header>
		<h3 th:text="${project_title}"></h3>
        <table class="table-data" th:object="${result}" border="1" align="center">
          <thead>
            <tr>
              <th rowspan="2">Date Reported</th>
              <th rowspan="2">Category</th>
              <th  rowspan="2" >Defect/ Issue Description</th>
              <th rowspan="2">Defect/ Issue  Type</th>
              <th rowspan="2">Severity</th>
              <th  rowspan="1" colspan="7">
                <center> Corrective / Preventive Action</center>
              </th>
            </tr>
            <tr>
              <th style="width: 50px">Casual Analysis - Root Cause</th>
              <th>Action</th>
              <th>Action Type</th>
              <th>Responsibility</th>
              <th>Target Date</th>
              <th>Actual Date</th>
              <th>Status</th>
            </tr>
          </thead>
          <tr th:object="${result}" th:each="i,iter :${result}">
            <td th:text="${i.getDate()}"> </td>
            <td th:text="${i.getCategory()}"> </td>
            <td class="levels" th:text="${i.getDescription()}"> </td>
            <td th:text="${i.getDefect_type()}"> </td>
            <td th:text="${i.getPriority()}"> </td>
            <td th:text="${i.getRoot_cause()}"> </td>
            <td th:text="${i.getAction()}"> </td>
            <td th:text="${i.getAction_type()}"> </td>
            <td th:text="${i.getResponsibility()}"> </td>
            <td th:text="${i.getTarget_date()}"> </td>
            <td th:text="${i.getActual_date()}"> </td>
            <td th:text="${i.getStatus()}"> </td>
          </tr>
        </table>
          <div id="buttons">
            <form action="#" th:action="@{/improvementProjectList(jwt=${atlassianConnectToken})}" th:object="${mychoice}">
              <input type="hidden"  th:field="*{projectname}"></input>
              <input type="hidden" name="jwt" th:value="${atlassianConnectToken}" ></input>
              <button  class="aui-button" id="submitid" type="submit" onclick="return validationForContinue()">Continue</button>
            </form>
             <form action="#" th:action="@{/ccResult(jwt=${atlassianConnectToken})}" th:object="${mychoice}">
              <input type="hidden"  th:field="*{projectname}"></input>
              <input type="hidden" name="jwt" th:value="${atlassianConnectToken}" ></input>
              <button class="aui-button"  id="submitid" type="submit" onclick="return validationForContinue()">Back</button>
            </form>
          </div>
      </div>

    <img src='images/712.GIF' id='selector' class="loading-dots" style="display:none"/>
  </body>
</html>