<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:mso="urn:schemas-microsoft-com:office:office"
	xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<head>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link> -->
<link href="/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="token" th:content="${atlassianConnectToken}" />
<style>

#cidi th{
	text-align: left;
	padding-left: 2% !important; 
}
#month{
	text-align:  center !important;
}
</style>
</head>
<body>
	<div class="container">
		<div class="table-responsive">
			<table class="table table-bordered" align="center" border="1" id="cidi">
				<tbody>
					<tr>
						<th id="month">Month</th>
						<span th:each="instance : ${CIDI_Data}">
							<td th:text="${instance.key}"></td>
						</span>
					</tr>

					<tr>
						<th>Client Complaints</th>
						<span th:each="instance : ${CIDI_Data}">
							<div th:each="cc : ${instance.value}">
								<div th:if="${#lists.size(cc.getcCData())}!= 0">
									<td><a href="#" th:text="${#lists.size(cc.getcCData())}"
										data-toggle='modal'
										th:attr="data-target='#cc'+${instance.key}"></a>
										<div class="modal fade" th:id="'cc'+${instance.key}"
											role="dialog">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title" th:text="${instance.key}"></h4>
													</div>
													<div class="modal-body">
														<div>
															<h4 align="center">
																Count: <span th:text="${#lists.size(instance.value)}"></span>
															</h4>

															<table class="table table-responsive">
															<tbody>	
																	<tr>
																		<th rowspan="2">Date Reported</th>
																		<th rowspan="2">Description</th>
																		<th rowspan="2">Defect Type</th>
																		<th rowspan="2">Severity</th>
																		<th colspan="5" class="hCenter">Corrective / Preventive Action</th>
																	</tr>
																	<tr>
																		<th>Casual Analysis Root Cause</th>
																		<th>Action</th>
																		<th>Responsibility</th>
																		<th>Target Date</th>
																		<th>Actual Date</th>
																	</tr>
															
																
																	<tr th:each="d :${cc.getcCData()}">

																		<td th:text="${d.getReported_Date()}"></td>


																		<td th:text="${d.getIssue_Description()}"></td>

																		<td th:text="${d.getDefect_Type()}"></td>


																		<td th:text="${d.getSeverity()}"></td>

																		<td th:text="${d.getRoot_Cause()}"></td>

																		<td th:text="${d.getAction()}"></td>

																		<td th:text="${d.getResponsibility()}"></td>

																		<td th:text="${d.getTarget_Date()}"></td>

																		<td th:text="${d.getActual_Date()}"></td>


																	</tr>
																</tbody>
															</table>

														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div></td>
								</div>

								<div th:unless="${#lists.size(cc.getcCData())}!= 0">
									<td th:text="${#lists.size(cc.getcCData())}"></td>
								</div>
							</div>
						</span>
					</tr>


					<tr>
						<th>Client Satisfaction Feedback Aspect</th>
						<span th:each="instance : ${CIDI_Data}">
							<div th:each="cc : ${instance.value}">
								<div th:if="${#lists.size(cc.getcSFAData())}!= 0">
									<td><a href="#" th:text="${#lists.size(cc.getcSFAData())}"
										data-toggle='modal'
										th:attr="data-target='#csfa'+${instance.key}"></a>
										<div class="modal fade" th:id="'csfa'+${instance.key}"
											role="dialog">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title" th:text="${instance.key}"></h4>
													</div>
													<div class="modal-body">
														<div>
															<h4 align="center">
																Count: <span th:text="${#lists.size(instance.value)}"></span>
															</h4>

															<table class="table table-responsive">
																<tbody>
																	<tr>
																		<th rowspan="2">Date Reported</th>
																		<th rowspan="2">Description</th>
																		<th rowspan="2">Defect Type</th>
																		<th rowspan="2">Severity</th>
																		<th colspan="5" class="hCenter">Corrective / Preventive Action</th>
																	</tr>
																	<tr>
																		<th>Casual Analysis Root Cause</th>
																		<th>Action</th>
																		<th>Responsibility</th>
																		<th>Target Date</th>
																		<th>Actual Date</th>
																	</tr>
																
																
																	<tr th:each="d :${cc.getcSFAData()}">
																		<td th:text="${d.getReported_Date()}"></td>

																		<td th:text="${d.getIssue_Description()}"></td>
																		<td th:text="${d.getDefect_Type()}"></td>
																		<td th:text="${d.getSeverity()}"></td>
																		<td th:text="${d.getRoot_Cause()}"></td>
																		<td th:text="${d.getAction()}"></td>
																		<td th:text="${d.getResponsibility()}"></td>
																		<td th:text="${d.getTarget_Date()}"></td>
																		<td th:text="${d.getActual_Date()}"></td>
																	</tr>
																</tbody>
															</table>

														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div></td>
								</div>

								<div th:unless="${#lists.size(cc.getcSFAData())}!= 0">
									<td th:text="${#lists.size(cc.getcSFAData())}"></td>
								</div>
							</div>
						</span>
					</tr>


					<tr>
						<th>Project Delivery Performance Issue</th>
						<span th:each="instance : ${CIDI_Data}">
							<div th:each="cc : ${instance.value}">
								<div th:if="${#lists.size(cc.getpDPIData())}!= 0">
									<td th:text="${#lists.size(cc.getpDPIData())}"><a href="#"
										th:text="${#lists.size(cc.getpDPIData())}" data-toggle='modal'
										th:attr="data-target='#pdpi'+${instance.key}"></a>
										<div class="modal fade" th:id="'pdpi'+${instance.key}"
											role="dialog">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title" th:text="${instance.key}"></h4>
													</div>
													<div class="modal-body">
														<div>
															<h4 align="center">
																Count: <span th:text="${#lists.size(instance.value)}"></span>
															</h4>

															<table class="table table-responsive">
																<tbody>
																	<tr>
																		<th rowspan="2">Date Reported</th>
																		<th rowspan="2">Description</th>
																		<th rowspan="2">Defect Type</th>
																		<th rowspan="2">Severity</th>
																		<th colspan="5" class="hCenter">Corrective / Preventive Action</th>
																	</tr>
																	<tr>
																		<th>Casual Analysis Root Cause</th>
																		<th>Action</th>
																		<th>Responsibility</th>
																		<th>Target Date</th>
																		<th>Actual Date</th>
																	</tr>
																
																
																	<tr th:each="d :${cc.getpDPIData()}">
																		<td th:text="${d.getReported_Date()}"></td>

																		<td th:text="${d.getIssue_Description()}"></td>
																		<td th:text="${d.getDefect_Type()}"></td>
																		<td th:text="${d.getSeverity()}"></td>
																		<td th:text="${d.getRoot_Cause()}"></td>
																		<td th:text="${d.getAction()}"></td>
																		<td th:text="${d.getResponsibility()}"></td>
																		<td th:text="${d.getTarget_Date()}"></td>
																		<td th:text="${d.getActual_Date()}"></td>
																	</tr>
																</tbody>
															</table>

														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div></td>

								</div>

								<div th:unless="${#lists.size(cc.getpDPIData())}!= 0">
									<td th:text="${#lists.size(cc.getpDPIData())}"></td>
								</div>
							</div>
						</span>
					</tr>



					<tr>
						<th>Process Compliance Issue</th>
						<span th:each="instance : ${CIDI_Data}">
							<div th:each="cc : ${instance.value}">
								<div th:if="${#lists.size(cc.getpCIData())}!= 0">
									<td><a href="#" th:text="${#lists.size(cc.getpCIData())}"
										data-toggle='modal'
										th:attr="data-target='#pci'+${instance.key}"></a>
										<div class="modal fade" th:id="'pci'+${instance.key}"
											role="dialog">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title" th:text="${instance.key}"></h4>
													</div>
													<div class="modal-body">
														<div>
															<h4 align="center">
																Count: <span th:text="${#lists.size(instance.value)}"></span>
															</h4>

															<table class="table table-responsive">
																<tbody>
																	<tr>
																		<th rowspan="2">Date Reported</th>
																		<th rowspan="2">Description</th>
																		<th rowspan="2">Defect Type</th>
																		<th rowspan="2">Severity</th>
																		<th colspan="5" class="hCenter">Corrective / Preventive Action</th>
																	</tr>
																	<tr>
																		<th>Casual Analysis Root Cause</th>
																		<th>Action</th>
																		<th>Responsibility</th>
																		<th>Target Date</th>
																		<th>Actual Date</th>
																	</tr>
																
																
																	<tr th:each="d :${cc.getpCIData()}">
																		<td th:text="${d.getReported_Date()}"></td>

																		<td th:text="${d.getIssue_Description()}"></td>
																		<td th:text="${d.getDefect_Type()}"></td>
																		<td th:text="${d.getSeverity()}"></td>
																		<td th:text="${d.getRoot_Cause()}"></td>
																		<td th:text="${d.getAction()}"></td>
																		<td th:text="${d.getResponsibility()}"></td>
																		<td th:text="${d.getTarget_Date()}"></td>
																		<td th:text="${d.getActual_Date()}"></td>
																	</tr>
																</tbody>
															</table>

														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div></td>
								</div>

								<div th:unless="${#lists.size(cc.getpCIData())}!= 0">
									<td th:text="${#lists.size(cc.getpCIData())}"></td>
								</div>
							</div>
						</span>
					</tr>



					<tr>
						<th>Information Security Weakness</th>
						<span th:each="instance : ${CIDI_Data}">
							<div th:each="cc : ${instance.value}">
								<div th:if="${#lists.size(cc.getiSWData())}!= 0">
									<td><a href="#" th:text="${#lists.size(cc.getiSWData())}"
										data-toggle='modal'
										th:attr="data-target='#isw'+${instance.key}"></a>
										<div class="modal fade" th:id="'isw'+${instance.key}"
											role="dialog">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title" th:text="${instance.key}"></h4>
													</div>
													<div class="modal-body">
														<div>
															<h4 align="center">
																Count: <span th:text="${#lists.size(instance.value)}"></span>
															</h4>

															<table class="table table-responsive">
																<tbody>
																	<tr>
																		<th rowspan="2">Date Reported</th>
																		<th rowspan="2">Description</th>
																		<th rowspan="2">Defect Type</th>
																		<th rowspan="2">Severity</th>
																		<th colspan="5" class="hCenter">Corrective / Preventive Action</th>
																	</tr>
																	<tr>
																		<th>Casual Analysis Root Cause</th>
																		<th>Action</th>
																		<th>Responsibility</th>
																		<th>Target Date</th>
																		<th>Actual Date</th>
																	</tr>
																
																
																	<tr th:each="d :${cc.getiSWData()}">
																		<td th:text="${d.getReported_Date()}"></td>

																		<td th:text="${d.getIssue_Description()}"></td>
																		<td th:text="${d.getDefect_Type()}"></td>
																		<td th:text="${d.getSeverity()}"></td>
																		<td th:text="${d.getRoot_Cause()}"></td>
																		<td th:text="${d.getAction()}"></td>
																		<td th:text="${d.getResponsibility()}"></td>
																		<td th:text="${d.getTarget_Date()}"></td>
																		<td th:text="${d.getActual_Date()}"></td>
																	</tr>
																</tbody>
															</table>

														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div></td>
								</div>

								<div th:unless="${#lists.size(cc.getiSWData())}!= 0">
									<td th:text="${#lists.size(cc.getiSWData())}"></td>
								</div>
							</div>
						</span>
					</tr>



					<tr>
						<th>Information Security Event</th>
						<span th:each="instance : ${CIDI_Data}">
							<div th:each="cc : ${instance.value}">
								<div th:if="${#lists.size(cc.getiSEData())}!= 0">
									<td><a href="#" th:text="${#lists.size(cc.getiSEData())}"
										data-toggle='modal'
										th:attr="data-target='#ise'+${instance.key}"></a>
										<div class="modal fade" th:id="'ise'+${instance.key}"
											role="dialog">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title" th:text="${instance.key}"></h4>
													</div>
													<div class="modal-body">
														<div>
															<h4 align="center">
																Count: <span th:text="${#lists.size(instance.value)}"></span>
															</h4>

															<table class="table table-responsive">
																<tbody>
																	<tr>
																		<th rowspan="2">Date Reported</th>
																		<th rowspan="2">Description</th>
																		<th rowspan="2">Defect Type</th>
																		<th rowspan="2">Severity</th>
																		<th colspan="5" class="hCenter">Corrective / Preventive Action</th>
																	</tr>
																	<tr>
																		<th>Casual Analysis Root Cause</th>
																		<th>Action</th>
																		<th>Responsibility</th>
																		<th>Target Date</th>
																		<th>Actual Date</th>
																	</tr>
																
																
																	<tr th:each="d :${cc.getiSEData()}">
																		<td th:text="${d.getReported_Date()}"></td>

																		<td th:text="${d.getIssue_Description()}"></td>
																		<td th:text="${d.getDefect_Type()}"></td>
																		<td th:text="${d.getSeverity()}"></td>
																		<td th:text="${d.getRoot_Cause()}"></td>
																		<td th:text="${d.getAction()}"></td>
																		<td th:text="${d.getResponsibility()}"></td>
																		<td th:text="${d.getTarget_Date()}"></td>
																		<td th:text="${d.getActual_Date()}"></td>
																	</tr>
																</tbody>
															</table>

														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div></td>
								</div>

								<div th:unless="${#lists.size(cc.getiSEData())}!= 0">
									<td th:text="${#lists.size(cc.getiSEData())}"></td>
								</div>
							</div>
						</span>
					</tr>



					<tr>
						<th>Risk Event</th>
						<span th:each="instance : ${CIDI_Data}">
							<div th:each="cc : ${instance.value}">
								<div th:if="${#lists.size(cc.getrEData())}!= 0">
									<td><a href="#" th:text="${#lists.size(cc.getrEData())}"
										data-toggle='modal'
										th:attr="data-target='#re'+${instance.key}"></a>
										<div class="modal fade" th:id="'re'+${instance.key}"
											role="dialog">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title" th:text="${instance.key}"></h4>
													</div>
													<div class="modal-body">
														<div>
															<h4 align="center">
																Count: <span th:text="${#lists.size(instance.value)}"></span>
															</h4>

															<table class="table table-responsive">
																<tbody>
																	<tr>
																		<th rowspan="2">Date Reported</th>
																		<th rowspan="2">Description</th>
																		<th rowspan="2">Defect Type</th>
																		<th rowspan="2">Severity</th>
																		<th colspan="5" class="hCenter">Corrective / Preventive Action</th>
																	</tr>
																	<tr>
																		<th>Casual Analysis Root Cause</th>
																		<th>Action</th>
																		<th>Responsibility</th>
																		<th>Target Date</th>
																		<th>Actual Date</th>
																	</tr>
																
																
																	<tr th:each="d :${cc.getrEData()}">
																		<td th:text="${d.getReported_Date()}"></td>

																		<td th:text="${d.getIssue_Description()}"></td>
																		<td th:text="${d.getDefect_Type()}"></td>
																		<td th:text="${d.getSeverity()}"></td>
																		<td th:text="${d.getRoot_Cause()}"></td>
																		<td th:text="${d.getAction()}"></td>
																		<td th:text="${d.getResponsibility()}"></td>
																		<td th:text="${d.getTarget_Date()}"></td>
																		<td th:text="${d.getActual_Date()}"></td>
																	</tr>
																</tbody>
															</table>

														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div></td>
								</div>

								<div th:unless="${#lists.size(cc.getrEData())}!= 0">
									<td th:text="${#lists.size(cc.getrEData())}"></td>
								</div>
							</div>
						</span>
					</tr>




					<tr>
						<th>Delivery Improvement</th>
						<span th:each="instance : ${CIDI_Data}">
							<div th:each="cc : ${instance.value}">
								<div th:if="${#lists.size(cc.getdIData())}!= 0">
									<td><a href="#" th:text="${#lists.size(cc.getdIData())}"
										data-toggle='modal'
										th:attr="data-target='#di'+${instance.key}"></a>
										<div class="modal fade" th:id="'di'+${instance.key}"
											role="dialog">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title" th:text="${instance.key}"></h4>
													</div>
													<div class="modal-body">
														<div>
															<h4 align="center">
																Count: <span th:text="${#lists.size(instance.value)}"></span>
															</h4>

															<table class="table table-responsive">
																<tbody>
																	<tr>
																		<th rowspan="2">Date Reported</th>
																		<th rowspan="2">Description</th>
																		<th rowspan="2">Defect Type</th>
																		<th rowspan="2">Severity</th>
																		<th colspan="5" class="hCenter">Corrective / Preventive Action</th>
																	</tr>
																	<tr>
																		<th>Casual Analysis Root Cause</th>
																		<th>Action</th>
																		<th>Responsibility</th>
																		<th>Target Date</th>
																		<th>Actual Date</th>
																	</tr>
																
																
																	<tr th:each="d :${cc.getdIData()}">
																		<td th:text="${d.getReported_Date()}"></td>

																		<td th:text="${d.getIssue_Description()}"></td>
																		<td th:text="${d.getDefect_Type()}"></td>
																		<td th:text="${d.getSeverity()}"></td>
																		<td th:text="${d.getRoot_Cause()}"></td>
																		<td th:text="${d.getAction()}"></td>
																		<td th:text="${d.getResponsibility()}"></td>
																		<td th:text="${d.getTarget_Date()}"></td>
																		<td th:text="${d.getActual_Date()}"></td>
																	</tr>
																</tbody>
															</table>

														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div></td>
								</div>

								<div th:unless="${#lists.size(cc.getdIData())}!= 0">
									<td th:text="${#lists.size(cc.getdIData())}"></td>
								</div>
							</div>
						</span>
					</tr>



					<tr>
						<th>Creative Idea</th>
						<span th:each="instance : ${CIDI_Data}">
							<div th:each="cc : ${instance.value}">
								<div th:if="${#lists.size(cc.getcIData())}!= 0">
									<td><a href="#" th:text="${#lists.size(cc.getcIData())}"
										data-toggle='modal'
										th:attr="data-target='#ci'+${instance.key}"></a>
										<div class="modal fade" th:id="'ci'+${instance.key}"
											role="dialog">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title" th:text="${instance.key}"></h4>
													</div>
													<div class="modal-body">
														<div>
															<h4 align="center">
																Count: <span th:text="${#lists.size(instance.value)}"></span>
															</h4>

															<table class="table table-responsive">
																<tbody>
																	<tr>
																		<th rowspan="2">Date Reported</th>
																		<th rowspan="2">Description</th>
																		<th rowspan="2">Defect Type</th>
																		<th rowspan="2">Severity</th>
																		<th colspan="5" class="hCenter">Corrective / Preventive Action</th>
																	</tr>
																	<tr>
																		<th>Casual Analysis Root Cause</th>
																		<th>Action</th>
																		<th>Responsibility</th>
																		<th>Target Date</th>
																		<th>Actual Date</th>
																	</tr>
																
																
																	<tr th:each="d :${cc.getcIData()}">
																		<td th:text="${d.getReported_Date()}"></td>

																		<td th:text="${d.getIssue_Description()}"></td>
																		<td th:text="${d.getDefect_Type()}"></td>
																		<td th:text="${d.getSeverity()}"></td>
																		<td th:text="${d.getRoot_Cause()}"></td>
																		<td th:text="${d.getAction()}"></td>
																		<td th:text="${d.getResponsibility()}"></td>
																		<td th:text="${d.getTarget_Date()}"></td>
																		<td th:text="${d.getActual_Date()}"></td>
																	</tr>
																</tbody>
															</table>

														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div></td>
								</div>

								<div th:unless="${#lists.size(cc.getcIData())}!= 0">
									<td th:text="${#lists.size(cc.getcIData())}"></td>
								</div>
							</div>
						</span>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>