
		<table class="table table-bordered" align="center">

			<thead>

				<tr>

					<th>Quarter</th>
					<th>Rating</th>
				</tr>
				

			</thead>

			<tbody>
				<tr th:each="instance,itr : ${csat}">
					<td th:text="${instance.key}"></td>
					
					<div th:if="${instance.value.getCSAT_Q6()} == '-'">
						<td th:text="${instance.value.getCSAT_Q6()}"></td>
					</div>
					<div th:unless="${instance.value.getCSAT_Q6()}=='-'">
						<td><a href="#" th:text="${instance.value.getCSAT_Q6()}"
							data-toggle='modal'
							th:attr="data-target='#model'+${itr.index}"></a>
							<div class="modal fade" th:id="'model'+${itr.index}"
								role="dialog">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title" th:text="${instance.key}"></h4>
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										</div>
										<div class="modal-body">

											<div class="table-responsive data-left">
												<table class="table table-bordered">
													<tr>
														<td><b>Customer Name:</b></td>
														<td><span
															th:text="${instance.value.getClient_Name()}"></span></td>
														<td><b>Period:</b></td>
														<td colspan="3"><span
															th:text="${instance.value.getQuarter_Start_Date()}+' - '+ ${instance.value.getYear()}"></span></td>
													</tr>
													<tr>
														<td><b>Sent Date:</b></td>
														<td><span th:text="${instance.value.getSent_Date()}"></span></td>
														<td><b>Received Date:</b></td>
														<td><span
															th:text="${instance.value.getReceived_Date()}"></span></td>
													</tr>
												</table>
											</div>
											<div class="table-responsive data-left">
												<table class="table table-bordered">
													<tr>
														<td><b><span
																th:text="${@environment.getProperty('CSAT_Value_Q1')}"></span></b><br />
														<P>
																<span th:text="${instance.value.getCSAT_Q1()}"></span>
															</P></td>

													</tr>
													<tr>
														<td><b><span
																th:text="${@environment.getProperty('CSAT_Value_Q2')}"></span></b>
															<br />
															<P>
																<span th:text="${instance.value.getCSAT_Q2()}"></span>
															</P></td>
													</tr>



													<tr>
														<td><b><span
																th:text="${@environment.getProperty('CSAT_Value_Q3')}"></span></b><br />
															<P>
																<span th:text="${instance.value.getCSAT_Q3()}"></span>
															</P></td>
													</tr>



													<tr>
														<td><b><span
																th:text="${@environment.getProperty('CSAT_Value_Q4')}"></span></b><br />
															<P>
																<span th:text="${instance.value.getCSAT_Q4()}"></span>
															</P></td>
													</tr>



													<tr>
														<td><b><span
																th:text="${@environment.getProperty('CSAT_Value_Q5')}"></span></b><br />
															<P>
																<span th:text="${instance.value.getCSAT_Q5()}"></span>
															</P></td>
													</tr>



													<tr>
														<td><b><span
																th:text="${@environment.getProperty('CSAT_Value_Q6')}"></span></b><br />
															<P>
																<span th:text="${instance.value.getCSAT_Q6()}"></span>
															</P></td>
													</tr>


													<tr>
														<td><b><span
																th:text="${@environment.getProperty('CSAT_Value_Q7')}"></span></b><br />
															<P>
																<span th:text="${instance.value.getCSAT_Q7()}"></span>
															</P></td>
													</tr>



													<tr>
														<td><b><span
																th:text="${@environment.getProperty('CSAT_Value_Q8')}"></span></b><br />
															<P>
																<span th:text="${instance.value.getCSAT_Q8()}"></span>
															</P></td>
													</tr>
												</table>
											</div>



										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default"
												data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div></td>
					</div>
				</tr>
			</tbody>
		</table>

