<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<head>
 <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
 <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"></link>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<link href="/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="token" th:content="${atlassianConnectToken}"/>

<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">7V7HDZ5JRX2H-659952857-82361</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">04bd0167-6313-4718-9e6b-b73f29fbf7d0</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://senecaglobal.sharepoint.com/sites/FileServer/_layouts/15/DocIdRedir.aspx?ID=7V7HDZ5JRX2H-659952857-82361, 7V7HDZ5JRX2H-659952857-82361</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>

<body>
<div id="table">
<h4 align= "center">Client Rating</h4>
<table class="table table-bordered"  align="center">

 <tbody>
	<tr> 
	<th>Quarter</th>
	<span th:each="instance : ${csat}">
    	<td th:text="${instance.key}"></td>
    	</span>
    </tr> 
    <tr>
    <th>Count</th>
    <span th:each="instance : ${csat}">	
    	<div th:if="${instance.value.getCSAT_Q6()} == '-'">
		   			<td th:text="${instance.value.getCSAT_Q6()}"></td>
				</div>
			<div th:unless="${instance.value.getCSAT_Q6()}=='-'">
			<td><a href="#" th:text="${instance.value.getCSAT_Q6()}" data-toggle='modal' th:attr="data-target='#model'+${instance.key}"></a>
		  <div class="modal fade" th:id="'model'+${instance.key}" role="dialog">
		    <div class="modal-dialog modal-lg">
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title" th:text="${instance.key}"></h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">
		        
		<div class="table-responsive data-left">		
 		<table class="table table-bordered">
 	<tr>
 		<td><b>Customer Name:</b></td>
 		<td><span th:text="${instance.value.getClient_Name()}"></span></td>
 		<td><b>Period:</b></td>
 		<td colspan="3"><span th:text="${instance.value.getQuarter_Start_Date()}+' - '+ ${instance.value.getYear()}"></span></td>
 	</tr>
 	<tr>
 		<td><b>Sent Date:</b></td>
 		<td><span th:text="${instance.value.getSent_Date()}"></span></td>
 		<td><b>Received Date:</b></td>
 		<td><span th:text="${instance.value.getReceived_Date()}"></span></td>
 	</tr>
 	</table>
 	</div>
 	<div class="table-responsive data-left">
 	<table class="table table-bordered">
 	<tr  >
 		<td><b><span th:text="${@environment.getProperty('CSAT_Value_Q1')}"></span></b><br/><P><span th:text="${instance.value.getCSAT_Q1()}"></span></P></td>
 	
 	</tr>
 	<tr>
 		<td><b><span th:text="${@environment.getProperty('CSAT_Value_Q2')}"></span></b> <br/> <P><span  th:text="${instance.value.getCSAT_Q2()}"></span></P></td>
 	</tr>
 	
 	
 	
 	<tr>
 		<td><b><span th:text="${@environment.getProperty('CSAT_Value_Q3')}"></span></b><br/> <P><span  th:text="${instance.value.getCSAT_Q3()}"></span></P></td>
 	</tr>
 	

 	
 	<tr>
 		<td><b><span th:text="${@environment.getProperty('CSAT_Value_Q4')}"></span></b><br/> <P><span  th:text="${instance.value.getCSAT_Q4()}"></span></P></td>
 	</tr>
 	
 	
 	
 	<tr>
 		<td><b><span th:text="${@environment.getProperty('CSAT_Value_Q5')}"></span></b><br/> <P><span  th:text="${instance.value.getCSAT_Q5()}"></span></P></td>
 	</tr>
 	

 	
 	<tr>
 		<td><b><span th:text="${@environment.getProperty('CSAT_Value_Q6')}"></span></b><br/> <P><span  th:text="${instance.value.getCSAT_Q6()}"></span></P></td>
 	</tr>
 	
 	
 		<tr>
 		<td><b><span th:text="${@environment.getProperty('CSAT_Value_Q7')}"></span></b><br/> <P><span  th:text="${instance.value.getCSAT_Q7()}"></span></P></td>
 	</tr>
 	
 	
 	
 		<tr>
 		<td><b><span th:text="${@environment.getProperty('CSAT_Value_Q8')}"></span></b><br/> <P><span  th:text="${instance.value.getCSAT_Q8()}"></span></P></td>
 	</tr>
 </table>
 </div>

 
                           
                        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
                     </div>
                  </div>
               </div>
               </td>
               </div>
               </span>
               </tr> 
               </tbody>
               </table>
</div>
</body>
</html>