<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<head>
 <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
 <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"></link>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link> -->
<link href="/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="token" th:content="${atlassianConnectToken}"/>
<style>
.fixedw{
	min-width:10px !important;
	max-width:30px !important;
	width: 15px !important;
}

</style>

<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">7V7HDZ5JRX2H-659952857-82363</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">b2e8804a-73a2-44e8-b812-57ca3d15c356</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://senecaglobal.sharepoint.com/sites/FileServer/_layouts/15/DocIdRedir.aspx?ID=7V7HDZ5JRX2H-659952857-82363, 7V7HDZ5JRX2H-659952857-82363</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>

<body>
<div class="container">
<h4>Client Complaints</h4>
<div class="table-responsive fixed">
<table class="table table-bordered table-sm" align="center">
  <tbody>
	<tr> 
	<th>Quarter</th>
	<span th:each="instance : ${data}">
    	<td th:text="${instance.key}"></td>
    	</span>
    </tr>
    <tr>
    <th>Count</th>
    <div th:each="instance : ${data}">
    <div th:if="${#lists.size(instance.value)} == 0">
		   			<td th:text="${#lists.size(instance.value)}"></td>
				</div>
    <div th:unless="${#lists.size(instance.value)}== 0">	
    	<td><a href="#" th:text="${#lists.size(instance.value)}" data-toggle='modal' th:attr="data-target='#model'+${instance.key}"></a>
		  <div class="modal fade" th:id="'model'+${instance.key}" role="dialog">
		    <div class="modal-dialog modal-lg">
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title" th:text="${instance.key}"></h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">
				<h4 align="center">Count: <span th:text="${#lists.size(instance.value)}"></span></h4>
				<div class="table-responsive">
				<table class="table table-bordered">
				<tbody>
				  <tr>
				    <th>Date Received</th>
				    <th>Received From</th>
				    <th>Complaint Details</th>
				    <th>Response Action Plan</th>
				    <th>Resolution Status</th>
				  </tr>
			 
			  
			    <tr th:each="d :${instance.value}">
			        <td  th:text="${d.getrDate()}"></td>
			        <td  th:text="${d.getrFrom()}"></td>
			        <td  th:text="${d.getDescription()}"></td>
			        <td  th:text="${d.getAction()}"></td>
					<td  th:text="${d.getStatus()}"></td>
			    </tr>  
			  </tbody>
			</table>
			</div>
			
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
	</div>
	</td>
	</div>
	</div>
	</tr> 
  </tbody>
</table>
</div>
</div>
</body>
</html>