<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<head>
<link rel="stylesheet" href="/css/viewmetrics.css"></link>
<link rel="stylesheet" href="/css/table.css"></link>
<script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>
   <script src="/js/errorHandling.js"></script>
   <link rel="stylesheet" href="/css/validation.css"></link>

<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">7V7HDZ5JRX2H-659952857-82364</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">205d207d-8b92-47c1-9e08-6b144525e8e8</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://senecaglobal.sharepoint.com/sites/FileServer/_layouts/15/DocIdRedir.aspx?ID=7V7HDZ5JRX2H-659952857-82364, 7V7HDZ5JRX2H-659952857-82364</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>

<body>
<div id="head"></div>

  
<div class="container">
<header>
<h2>Client Satisfaction</h2>
</header>


<div id="projectForm">

	<h3>please select the project</h3>
		<form id="choiceform" th:action="@{/countReport(jwt=${atlassianConnectToken})}" th:object="${mychoice}">
			<label for="projectname">Project Name<span class="mandatory">*</span></label> <select
				th:field="*{projectname}">
				<option value="">Please select</option>
				<option th:each="projectname : ${projectlist}"
					th:value="${projectname}" th:text="${projectname}"></option>
			</select> 
            <input type="hidden" name="jwt" th:value="${atlassianConnectToken}" />
			
			
			<label for="year">Year<span class="mandatory">*</span></label>	
				
			<select
				th:field="*{year}">
				<option value="">Please select</option>
				<option th:each="yearselect : ${yearlist}"
					th:value="${yearselect}" th:text="${yearselect}"></option>
			</select>
			
			<button  id="submitid" type="submit" onclick="return validationForTheProjectList()">Submit</button>
				<span class="error" id="error"></span>
			
		</form>

</div>


</div>
 
</body>

</html>

