<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:mso="urn:schemas-microsoft-com:office:office"
	xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<head>
<meta name="token" th:content="${atlassianConnectToken}" />



<!--  AUI Core -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/aui/js/jquery.min.js"></script>
<script src="/aui/js/aui.min.js"></script>
<link rel="stylesheet" href="/aui/css/aui.min.css" media="all" />
<script src="/js/errorHandling.js?n=1"></script>
<script src="/js/rangeScript.js?n=1"></script>
<!-- AUI Experimental components -->
<link rel="stylesheet" href="/aui/css/aui-experimental.min.css"
	media="all" />
<script src="/aui/js/aui-experimental.min.js"></script>

<!-- AUI Datepicker and Soy templates -->
<script src="/aui/js/aui-datepicker.min.js"></script>
<script src="/aui/js/aui-soy.min.js"></script>

<!-- <script src="/js/script.js"></script> -->


<script>

AJS.$(document).ready(function() {
    AJS.$('#startdate').datePicker({'overrideBrowserDefault': true});
    AJS.$('#enddate').datePicker({'overrideBrowserDefault': true});
});
</script>

<script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>
<style>
h1, h2 {
	text-align: center;
}

h1 {
	margin: 1% 0 1% 0px !important;
	color: white;
}

.data-left {
	margin-left: 5%;
	font-size: 146%;
}

input {
	font-size: 17px;
}

body {
	background-color: white !important;
}

.aui-page-panel {
	background-color: #f4f5f7 !important;
}

body {
	margin: 1% 3% 3% 3% !important;
}

#complianceData {
	margin: 3% !important;
}

#error {
	color: red !important;
}
</style>

<script>
  var img = document.createElement("IMG");
  img.src = "images/712.GIF";
  img.height = "70";
  img.width = "70";
    function getData(){
                     
                      var stdate =  $('#startdate').val();
                      var eddate = $('#enddate').val();               
                    
                      var obj = 'startdate='+stdate+'~'+eddate+'';
                      makeAjaxCall(obj);
                      
           }
        function makeAjaxCall(obj){
              $("#complianceData").html(img);
          $.ajax({
            url: "/riskManagementDateRangeControl",
            type: "GET",
            data: obj,
            beforeSend: function (request) {
                var token = $('meta[name="token"]').attr("content");
                request.setRequestHeader("Authorization", "JWT " + token);
            },
          success: function (data) {
                $("#complianceData").html(data);
        },
        error: function (textStatus, errorThrown) {
               $("#complianceData").html("Something went wrong, please try again after sometime");
        }
            });
        }
/*     $(document).ready(function(){
          onLoadData(); 
    });

    function onLoadData(){  
          var stdate =  $('#startdate').val();
          var eddate = $('#enddate').val();
          var obj = 'startdate='+stdate+'~'+eddate+'';
          var sDateFlag = isDateSelected(startdate);
          var eDateFlag = isDateSelected(enddate);
          makeAjaxCall(obj);
          } */

  </script>
</head>

<body style="height: 600px !important;">
	<span style="display: none" th:text="${jMethod}" id="method"></span>
	<header id="header" role="banner">
		<nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
			<div class="aui-header-inner">
				<div class="aui-header-primary">
					<h1 th:text="${project_title}"></h1>
				</div>
			</div>
		</nav>
	</header>
	<!-- <header class="aui-page-header">
          <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
              
            </div>
          </div>
        </header> -->
	<div class="aui-page-panel">
		<div class="aui-page-panel-inner">
			<section class="aui-page-panel-content"
				style="display: block !important;">
				<h2 th:text="${section_title}"></h2>
				<div class="data-left">
					<h3>Please select date range</h3>
					From: <input class="aui-date-picker" id="startdate" type="date"
						th:value="${sDate}" /> To: <input class="aui-date-picker"
						id="enddate" type="date" th:value="${eDate}" /> <input
						type="hidden" name="jwt" th:value="${atlassianConnectToken}" />
					<button class="aui-button aui-button-primary" id="submitid"
						type="button" onclick="getData()">Submit</button>
					<br></br> <span class="error" id="error"></span>
				</div>

			</section>
		</div>
	</div>
	<div id="complianceData" align="center"></div>
</body>
</html>

