<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<head>
 <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
 <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"></link>
 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link> -->
<link href="/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="token" th:content="${atlassianConnectToken}"/>

</head>
<body>
		 <span id="graphData" style="display: none;" th:text="${riskRatingLine}"></span>
		 
		 <div id ="tableData">
		 <h4 align="center">Delivery Risk</h4> 
				<div class="table-responsive">
				<table class="table table-bordered" th:object="${result}" border="1"  align="center" >
					<tbody>
						<tr>
							<th colspan="2">Risk Items</th>
							<span th:each="month, itr :${alr}">
							<th th:text="${alr[itr.index][0]}"></th>
							</span>
						</tr>

						<tr>
						
						<td colspan="2" class= "left-align">Critical Delivery Risks Identified</td>
							<span th:each="cd, itr1 :${cdr}">
							<td th:text="${cdr[itr1.index][1]}"></td>
							</span>
						</tr>
						<tr>
							<td colspan="2" class= "left-align">Delivery Risks Treated to Acceptable Level</td>
							<span th:each="al, itr2 :${alr}">
							<td th:text="${alr[itr2.index][1]} +'%'"></td>
							</span>
						</tr>
						<tr>
							<td colspan="2" class= "left-align">Risk Occurrence</td>
							<span th:each="ro, itr3 :${ror}">
							<td th:text="${ror[itr3.index][1]}"></td>
							</span>
						</tr>
						<tr>
							<td rowspan="2" class= "left-align">Delivery Risk Exposure Rating</td>
							<td class= "left-align">Before Risk Treatment</td>
							<span th:each="er :${err}">
							<td th:text="${er.getAvg_risk_value()}" ></td>
							</span>
						</tr>
							<tr>
							
							<td class= "left-align">After Risk Treatment</td>
							<span th:each="er :${err}">
							<td th:text="${er.getAvg_residual_value()}"></td>
							</span>
						</tr>
					</tbody>
				</table>
				</div>
				</div>
</body>
</html>