<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<head>
 <link rel="stylesheet" href="/css/aui.css" media="all"></link>
<link rel="stylesheet" href="/css/viewmetrics.css"></link>
<link rel="stylesheet" href="/css/table.css"></link>
<link rel="stylesheet" href="/css/validation.css"></link>

<meta name="token" th:content="${atlassianConnectToken}"/>
<script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

 <script src="/js/errorHandling.js"></script>
 <style>
 h4{
 	text-align: center;
 }</style>
<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">7V7HDZ5JRX2H-659952857-82376</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">b61b3faa-6d7e-4e12-aef0-a357ff5705be</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://senecaglobal.sharepoint.com/sites/FileServer/_layouts/15/DocIdRedir.aspx?ID=7V7HDZ5JRX2H-659952857-82376, 7V7HDZ5JRX2H-659952857-82376</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>

<body>
 <div class="container">
 <header>
<h2><span th:text="${selectedIssueType}"/></h2>
</header>

 <div class="data-left">
 
 <h4>We are facing an issue while processing your request! Please Contact Your Administrator.</h4>

 <div id="buttons">
<form action="#" th:action="@{${continue}(jwt=${atlassianConnectToken})}" th:object="${mychoice}">
<input type="hidden" name="jwt" th:value="${atlassianConnectToken}" ></input>
<input type="hidden"  th:field="*{projectname}"></input>
<button class="aui-button"  id="submitid" type="submit" onclick="return validationForContinue()">Continue</button>

		</form>
				<form action="#" th:action="@{${back}(jwt=${atlassianConnectToken})}" th:object="${mychoice}">
<input type="hidden"  th:field="*{projectname}"></input>
<input type="hidden" name="jwt" th:value="${atlassianConnectToken}" ></input>
<button class="aui-button" id="submitid" type="submit" onclick="return validationForContinue()">Back</button>
		</form>
		 </div>
		 </div> 
</div>

<img src='images/712.GIF' id='selector' class="loading-dots" style="display:none"/>
</body>
</html>