 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">

<head>
<link rel="stylesheet" href="/css/aui.css" media="all"></link>
<link rel="stylesheet" href="/css/viewmetrics.css"></link>
<link rel="stylesheet" href="/css/table.css"></link>
<link rel="stylesheet" href="/css/validation.css"></link>
<link rel="stylesheet" href="/css/css1.css"></link>
<meta name="token" th:content="${atlassianConnectToken}"/>
<script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

 <script src="/js/errorHandling.js"></script>
 
 <style>
 	th, td{
 		border: 1px solid grey;
 	}
 
 </style>

<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">7V7HDZ5JRX2H-659952857-82377</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">59f25fcb-70a7-4318-9d0f-f6bcdc4dc3f5</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://senecaglobal.sharepoint.com/sites/FileServer/_layouts/15/DocIdRedir.aspx?ID=7V7HDZ5JRX2H-659952857-82377, 7V7HDZ5JRX2H-659952857-82377</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
<style>

h3{
	text-align: center !important;
	margin: 1% 0% 0% 1% !important;
}</style>
</head>
<body>
<div class="container">
<header>
<h2>DELIVERY IMPROVEMENT INITIATIVES</h2>
</header>
<h3><span th:text="${project_title}"></span></h3> 
<table class="table-data" align="center">
	<thead>
  <tr>
    <th>Captured Date</th>
    <th>Initiatives</th>
    <th>Action</th>
    <th>Responsibility</th>
    <th>Target Date</th>
    <th>Status</th>
  </tr>
 </thead>
  <tbody>
    <tr th:each="d :${data}">
        <td  th:text="${d.getCapturedDate()}"></td>
        <td  th:text="${d.getInitiative()}"></td>
        <td  th:text="${d.getAction()}"></td>
        <td  th:text="${d.getResponsibility()}"></td>
        <td  th:text="${d.getTargetDate()}"></td>
        <td  th:text="${d.getStatus()}"></td>
     </tr> 
  </tbody>
</table>
<div id="buttons">
<form action="#" th:action="@{/velocityProjectList(jwt=${atlassianConnectToken})}" th:object="${mychoice}">
		<input type="hidden"  th:field="*{projectname}"></input>
<input type="hidden" name="jwt" th:value="${atlassianConnectToken}" ></input>
<button class="aui-button" id="submitid" type="submit" onclick="return validationForContinue()">Continue</button>
		</form>
		
<form action="#" th:action="@{/cia(jwt=${atlassianConnectToken})}" th:object="${mychoice}">
<input type="hidden"  th:field="*{projectname}"></input>
<input type="hidden" name="jwt" th:value="${atlassianConnectToken}" ></input>
<button class="aui-button"  id="submitid" type="submit" onclick="return validationForContinue()">Back</button>
		</form>
</div>	
</div>
   <img src='images/712.GIF' id='selector' class="loading-dots" style="display:none"/>
   </body> 
</html> 