<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<head>
 <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
 <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"></link>
 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link> -->
<link href="/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="token" th:content="${atlassianConnectToken}"/>

</head>
<body>
<div class="container">
<h4 align="center">Requirement Compliance</h4>
<div class="table-responsive">
	<table class="table table-bordered" border="1" align="center">
  		<tbody>
  		<tr>
  	 		 <th>Month</th>
   			 <th>Story</th>
 			 <th>Task</th>
 			 <th>Improvement</th>
 			 <th>Change Request</th>
 			 <th>Production Issue Support</th>
 			 <th>New Requirement</th>
  		</tr>
  
    <tr th:each="d :${data}">
        <td  th:text="${d.getMonth()}"></td>
        <td  th:text="${d.getsCount()}"></td>
        <td  th:text="${d.gettCount()}"></td>
        <td  th:text="${d.getiCount()}"></td>
        <td  th:text="${d.getCrCount()}"></td>
        <td  th:text="${d.getPisCount()}"></td>
        <td  th:text="${d.getNrCount()}"></td>
    </tr> 
  </tbody>
</table>
</div>
</div>
   </body> 
</html> 