<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<link rel="stylesheet" href="/css/viewmetrics.css"></link>
<meta name="token" th:content="${atlassianConnectToken}"/>
<head>
  <meta charset="utf-8"></meta>
<!--   <meta name="viewport" content="width=device-width, initial-scale=1"></meta> -->
  <link rel="stylesheet" href="/css/table.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>
  
    <script src="/js/errorHandling.js"></script>
    <link rel="stylesheet" href="/css/validation.css"></link>

<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">7V7HDZ5JRX2H-659952857-82383</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">14388593-a586-45b1-8a9e-b8c471d6ff37</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://senecaglobal.sharepoint.com/sites/FileServer/_layouts/15/DocIdRedir.aspx?ID=7V7HDZ5JRX2H-659952857-82383, 7V7HDZ5JRX2H-659952857-82383</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>
<body>
<div id="head"></div>
<div class="container">
<header>
<h2>CUMULATIVE DEVELOPMENT EFFECTIVENESS</h2>
</header>
 <div id="content-left"><h4> Metrics List for "<i><span th:text="${proj}"></span></i>" between <span th:text="${sd}"></span> and <span th:text="${ed}"></span></h4> </div>
 <div id="space">
 <div id="table-left">
 <div id="tabl">
      <table th:object="${cumulative_data}">
          <tr>
            <td>Review Defects</td>
            <td><span th:text="${cumulative_data.getRevd()}"></span></td>
           
            </tr>
            <tr>
            <td>Testing Defects</td>
                <td><span th:text="${cumulative_data.getTesd()}"></span></td>           
            </tr>
            <tr>
             <td>Delivered Defects</td>
            <td><span th:text="${cumulative_data.getDeld()}"></span></td>
            </tr>
            <tr>
            <td>Inprocess Defects</td>
            <td><span th:text="${cumulative_data.getInpd()}"></span></td>
            </tr>
            <tr>
            <td>Review Effectiveness</td>
            <td><span th:text="${cumulative_data.getRevef()}"></span>%</td>
            </tr>
            <tr>
            <td>Testing Effectiveness</td>
            <td><span th:text="${cumulative_data.getTesteff()}"></span>%</td>
            </tr>
            <tr>
             <td>Defect Removal Efficiency(DRE)</td>
             <td><span th:text="${cumulative_data.getDreff()}"></span>%</td>
            </tr>
    </table>
</div>
</div>
</div>
<div id="space">
<div id="left">
<div id="buttons">
<form action="#" th:action="@{/viewmetrics(jwt=${atlassianConnectToken})}" >
<input type="hidden" name="jwt" th:value="${atlassianConnectToken}" ></input>
<button  id="submitid" type="submit">Back</button>

		</form>
<form action="#" th:action="@{/riskOpenIssuesControl(jwt=${atlassianConnectToken})}" th:object="${mychoice}">
<input type="hidden" name="jwt" th:value="${atlassianConnectToken}" ></input>
<input type="hidden"  th:field="*{projectname}"></input>
<button  id="submitid" type="submit" onclick="return validationForTheProjectList()">Continue</button>

		</form>
		</div>
</div>
</div>
<div id="space"></div>

</div>

 <img src='images/712.GIF' id='selector' class="loading-dots" style="display:none"/>

</body>
</html>