<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>    
<link rel="stylesheet" href="/css/viewmetrics.css"></link>
<link rel="stylesheet" href="/css/table.css"></link>
<link rel="stylesheet" href="/css/validation.css"></link>
 <script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	 <script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>  
   <link rel="stylesheet" href="/resources/demos/style.css"/> 

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="/js/errorHandling.js"></script>
    
<head>
<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">7V7HDZ5JRX2H-659952857-82385</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">9eb5366b-9830-4288-81f7-910441aa3029</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://senecaglobal.sharepoint.com/sites/FileServer/_layouts/15/DocIdRedir.aspx?ID=7V7HDZ5JRX2H-659952857-82385, 7V7HDZ5JRX2H-659952857-82385</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head><body>
	<div class="container">
	<header>
<h2>Development Effectiveness</h2>
</header>
	<div id="data-left">
		<h3>Please select a project</h3>
		<form action="#" th:action="@{/modeResult(jwt=${atlassianConnectToken})}" th:object="${mychoice}" >

			<label for="catId">Project name<span class="mandatory">*</span></label> <select
				th:field="*{catId}">
				<option value="">Please select</option>
				<option th:each="projectname : ${projectlist}"
					th:value="${projectname.key + '~'+ projectname.value.getCategory()+ '~'+ projectname.value.getName()}"  th:text="${projectname.value.getName()}"></option>
			</select> 
            <input type="hidden" name="jwt" th:value="${atlassianConnectToken}" />
			<button  id="submitid" type="submit" onclick="return validationForTheProjectList()">Submit</button>
				<span class="error" id="error"></span>
		</form>
		
	</div>
	<div id="space"></div>

</div>

<img src='images/712.GIF' id='selector' class="loading-dots" style="display:none"/>

</body>
</html>

