<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<head>
 <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
 <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"></link>
 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link> -->
<link href="/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="token" th:content="${atlassianConnectToken}"/>

</head>
<body>

<div class="container-fluid"> 
 
<nav class="navbar navbar-expand-sm navbar-dark bg-primary justify-content-end">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
 <i class="fa fa-bars"></i>
  </button>
<h2 class="navbar-brand mr-5  flex-grow-1 " th:text="${project_title}"></h2>
<div class="collapse navbar-collapse  my-2 my-lg-0" id="navbarTogglerDemo03">
     <ul class="nav nav-tabs ml-auto" data-tabs="tabs">
       <li class="nav-item mr-auto" >
        <a class="nav-link"  data-toggle="tab" href="#" onclick="atp()">About project</a>
      </li>
           <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#" onclick="sc()">System, Client Item</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#" onclick="ccc()">Configuration and Change Control</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#" onclick="te()">Technology Environment</a>
      </li>
      
    </ul>
  </div>
</nav>



<div class="row">
            <div class="col-lg-6 col-md-12">
<div class="card">
                  <div class="card-header card-header-tabs card-header-info">
                     <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                        
                        <div class="row">
                        <div class="col-md-6">
                          <h4  class="card-title mn-40">CLIENT SATISFACTION</h4>
                        </div>
                        <div class="col-md-6 text-right">
                           <div class="btn-group mt-0" role="group" aria-label="Basic example">
                              <button type="button" id="one" class="btn btn-info btn-sm" onclick="showGraphs('csat_div', 'cTable')"><i class="fa fa-bar-chart"></i></button>
                              <button type="button" id="two" class="btn btn-info btn-sm" onclick="showData('csat_div', 'cTable');"><i class="fa fa-table"></i></button>
                       		  <button type="button" id="maximize" class="btn btn-info btn-sm"><i class="fa fa-expand"></i></button>
                           </div>
                        </div>
                     </div>
                           <ul class="nav nav-tabs" data-tabs="tabs">
                              <li class="nav-item">
                                 <a class="nav-link active"  href="#" data-toggle="tab" onclick="loadCSAT()">
                                    Feedback Rating
                                    <div class="ripple-container"></div>
                                 </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" id ="appreciation" href="#" data-toggle="tab">
                                    Appreciations
                                    <div class="ripple-container"></div>
                                 </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" id="complaint" href="#" data-toggle="tab">
                                    Complaints
                                    <div class="ripple-container"></div>
                                 </a>
                              </li>
                              
                              <li class="nav-item">
                                 <a class="nav-link" id ="aspect" href="#" data-toggle="tab" data-placement="right" title="Delivery Improvements regarding Client Satisfaction Feedback Aspect" data-tooltip="tooltip">
                                    Improve. reg. Aspects
                                    <div class="ripple-container"></div>
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="card-body mn-50"> 
                     <div class="tab-content">
                        <div class="tab-pane active">
                        <!-- <div class="embed-responsive embed-responsive-16by9">
                          <div id="csat_div" align="center" class="embed-responsive-item"></div>
                          </div> -->
                          <div id="csat_div" align="center"></div>
                           <div id= "cTable" class="table-responsive" align= "center" style= "display:none;"></div>
            </div>
            </div>
            </div>
            </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                  <div class="card-header card-header-tabs card-header-warning">
                     <div class="row">
                        <div class="col-md-6">
                           <h4  class="card-title mn-40">DELIVERY MANAGEMENT EFFECTIVENESS</h4>
                        </div>
                        <div class="col-md-6 text-right">
                        	<div class="btn-group mt-0" role="group" aria-label="Basic example">
								<button type="button" class="btn btn-warning btn-sm" id="five" onclick="showGraphs('riskrating_div','riskTable')"><i class="fa fa-bar-chart"></i></button>
	                            <button type="button" class="btn btn-warning btn-sm" id ="six" onclick="showData('riskrating_div', 'riskTable')"><i class="fa fa-table"></i></button>
	                        	<button type="button" id="maximize1" class="btn btn-warning btn-sm"><i class="fa fa-expand"></i></button>
	                        </div>
                        </div>
                     </div>
                           <ul class="nav nav-tabs" data-tabs="tabs">
                           <li class="nav-item">
                                 <a class="nav-link active" data-toggle="tab"  href="#"  id="reqFulfillment">
                                    Requirement Compliance
                                    <div class="ripple-container"></div>
                                 </a>
                              </li>
                               <li class="nav-item">
                                 <a class="nav-link"  href="#" data-toggle="tab" id="velocityChart">
                                    Velocity Chart
                                    <div class="ripple-container"></div>
                                    
                                 </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link"  href="#" data-toggle="tab" id="risks">
                                    Risk Exposure Rating
                                    <div class="ripple-container"></div>
                                    
                                 </a>
                              </li>
                              </ul>
                  </div>
                  <div class="card-body  mn-50">
                           <div id="riskrating_div" align="center"></div>
                           <div id="riskTable" style="display:none;" align="center"></div>
                  </div>
               </div>
            </div> 
</div>
<div class="row">
            <div class="col-lg-6 col-md-12">
               <div class="card">
                  <div class="card-header card-header-tabs card-header-danger">
                   <div class="row">
                        <div class="col-md-6">
                           <h4 class="card-title mn-40">DEVELOPMENT EFFECTIVENESS</h4>
                        </div>
                        <div class="col-md-6 text-right">
                           <div class="btn-group mt-0" role="group" aria-label="Basic example">
                              <button type="button" class="btn btn-danger btn-sm" id="three" onclick="showGraphs('graph','dtable')"><i class="fa fa-bar-chart"></i></button>
                              <button type="button" class="btn btn-danger btn-sm" id ="four" onclick="showData('graph', 'dtable')"><i class="fa fa-table"></i></button>
                           	  <button type="button" id="maximize3" class="btn btn-danger btn-sm"><i class="fa fa-expand"></i></button>
                           </div>
                        </div>
                     </div>
                     <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                           <ul class="nav nav-tabs" data-tabs="tabs">
                              
                              
                              <li class="nav-item">
                                 <a class="nav-link active" href="#" data-toggle="tab"  id="defects">
                                 	Defect Data Distribution
                                    <div class="ripple-container"></div>
                                 </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="#" data-toggle="tab" id="rEff">
                                    Review Effectiveness
                                    <div class="ripple-container"></div>
                                 </a>
                              </li>
       
                    <!--           <li class="nav-item"><a class="nav-link" data-toggle="dropdown" href="#" id="moreTab">More <span class="caret"></span></a>
						        <ul class="dropdown-menu"> -->
						          <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" id="testing" href="#">
                                    Testing
                                 </a></li>
						          <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" data-placement="right" title="Defect Removal Efficiency" data-tooltip="tooltip" href="#"  id="dre">
                                    DRE
									</a></li>
									<li class="nav-item">					     
						          <a role="tab" class="nav-link" data-toggle="tab" id="srf" href="#" data-placement="right" title="Software Requirement Functioning" data-tooltip="tooltip">
                                    SRF
                                 </a></li>
						       <!--  </ul>
						       </li>  -->
              
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="card-body mn-50"> 
                     <div class="tab-content">
                        <div class="tab-pane active">
                           <div id="graph" align = "center" class="chart" style="width:100% !important;"></div>
							<div id="dtable" style="display:none"></div>
							<div id="buttonData"></div>
                      </div>
               </div>
               </div>
               </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                  <div class="card-header card-header-tabs card-header-success">
                   <div class="row">
                        <div class="col-md-8">
                        <h4  class="card-title mn-40">PROCESS EFFECTIVENESS</h4>
                        </div>
                        <div class="col-md-4 text-right">
                        <button type="button" id="maximize4" class="btn btn-success btn-sm"><i class="fa fa-expand"></i></button>
                        </div>
                     </div>
                           <ul class="nav nav-tabs" data-tabs="tabs">
                           <li class="nav-item">
                                 <a class="nav-link active"  href="#" data-toggle="tab" id="cidi">
                                   Creative Ideas/Delivery Improvements
                                    <div class="ripple-container"></div>
                                 </a>
                              </li>    
                              </ul>
                  </div>
                  <div class="card-body mn-50"> 
                     <div class="tab-content">
                        <div class="tab-pane active">
                           <div id = "processData" align="center">
+				 		</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div> 
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap-material-design.min.js"></script>


<script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>

 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 <script src="/js/script.js" type="text/javascript"></script>
 <script src="/js/script1.js" type="text/javascript"></script>
</body>
</html>