<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<head>
<link rel="stylesheet" href="/css/aui.css" media="all"></link>
<link rel="stylesheet" href="/css/aui-experimental.css" media="all"></link>
<link rel="stylesheet" href="/css/aui-ie9.css" media="all"></link>
<link rel="stylesheet" href="/css/css1.css"></link>
<link rel="stylesheet" href="/css/viewmetrics.css"></link>
<link rel="stylesheet" href="/css/table.css"></link>
<link rel="stylesheet" href="/css/validation.css"></link>
<script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>
<script th:src="@{${atlassianConnectAllJsUrl}}" data-options="sizeToParent:true" ></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
   <script src="/js/errorHandling.js"></script>
<script>
      function display(val) {
      	document.getElementById("tooltipmessage").innerHTML = val;
      	document.getElementById("tooltipmessage").style.visibility = "visible";
      }
      
      function displayNothing() {
      	document.getElementById("tooltipmessage").innerHTML = "";
      	document.getElementById("tooltipmessage").style.visibility = "hidden";
      }
    </script>
<style>
.toolclasstext{
	visibility: hidden;
    background-color: #e8e8e8;
       width: 350px;
       height:110px;
    padding: 15px;
    margin: 35px;
    margin-left: 400px;
	border-radius: 15px;

}
h3{
	text-align: center !important;
	margin: 1% 0% 0% 1% !important;
}
</style>

<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">7V7HDZ5JRX2H-659952857-82390</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">94f953c2-1492-470d-9f3f-aeaa9eda1995</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://senecaglobal.sharepoint.com/sites/FileServer/_layouts/15/DocIdRedir.aspx?ID=7V7HDZ5JRX2H-659952857-82390, 7V7HDZ5JRX2H-659952857-82390</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>
<body>
	<div class="container">
		<header>
			<h2>DEVELOPMENT EFFECTIVENESS</h2>
		</header>
		<h3 th:text="${project_title}"></h3>
		<div id="content-left">
			<h4>Review Efficiency, Review Effectiveness (Analysis, Design,
				Coding)</h4>
				
		</div>
						<table class="table-data" align="center" th:object="${result}" border="1">
						<thead>
							<tr>
								<th>Month-Year</th>
								<th>Total Testing Defects</th>
								<th>Review Defects (Analysis, Design, Coding)</th>


								<th>Review Efforts (Analysis, Design, Coding)</th>
								<th><div
										onmouseover="display('Inprocess defects = (Review defects found during analysis, design and code reviews+ Testing defects) found during the period')"
										onmouseout="displayNothing()">Inprocess Defects (Analysis, Design, Coding)</div></th>

								<th><div
										onmouseover="display('Review Efficiency (Analysis, Design, Coding) = ( No. of defects found in reviews of Requirements, Architecture and Design , Source Code during the period) / Total Analysis, Design, Code Review Effort in Person hours during the period)')"
										onmouseout="displayNothing()">Review Efficiency
										(Analysis, Design, Coding)</div></th>
								<th>
									<div
										onmouseover="display('Review Effectiveness (Analysis, Design, Coding) is measured as (Total defects found in analysis, design, and code reviews during the period/ Inprocess defects )*100')"
										onmouseout="displayNothing()">Review Effectiveness(%)
										(Analysis, Design, Coding)</div>
								</th>


							</tr>
						</thead>
						<tbody>
							<tr th:each="r :${result}">
								<td th:text="${r.getMonth()}"></td>
								<td th:text="${r.getTesd()}"></td>
								<td th:text="${r.getRevd()}"></td>
								<td th:text="${r.getReview_effort()}"></td>
								<td th:text="${r.getInpd()}"></td>
								<td th:text="${r.getReview_efficiency()}"></td>
								<td th:text="${r.getReview_effectiveness_adc()}"></td>
							</tr>
						</tbody>
					</table>
		
		<div class="toolclasstext" id="tooltipmessage"></div>	
	<div id="buttons">
<form action="#" th:action="@{/monthlymetrics(jwt=${atlassianConnectToken})}" th:object="${mychoice}">
		<input type="hidden"  th:field="*{projectname}"></input>
<input type="hidden" name="jwt" th:value="${atlassianConnectToken}" ></input>
<button class="aui-button" id="submitid" type="submit" onclick="return validationForContinue()">Continue</button>
		</form>
<form action="#" th:action="@{/velocityProjectList(jwt=${atlassianConnectToken})}" th:object="${mychoice}">
<input type="hidden"  th:field="*{projectname}"></input>
<input type="hidden" name="jwt" th:value="${atlassianConnectToken}" ></input>
<button class="aui-button" id="submitid" type="submit" onclick="return validationForContinue()">Back</button>
		</form>
		

</div>	
</div>
<img src='images/712.GIF' id='selector' class="loading-dots" style="display: none" />
   </body> 
	
</html>