
		<div class="table_column">
			<table id="table_id" class="display">
				<thead>
					<tr>
						<th rowspan="2">Risk Items</th>
						<th rowspan="2">Critical Delivery Risks Identified</th>
						<th rowspan="2">Delivery Risks Treated to Acceptable Level</th>
						<th rowspan="2">Risk Occurrence</th>
						<th colspan="2">Delivery Risk Exposure Rating</th>

					</tr>

					<tr>
						<th>Before Risk Treatment</th>
						<th>After Risk Treatment</th>
					</tr>

				</thead>
				<tbody>
					<tr th:each="d, stat :${res.getCriticalRiskCount()}">
						<td th:text="${d.key}"></td>
						<td th:text="${res.getCriticalRiskCount().get(d.key)}"></td>
						<td th:text="${res.getRiskAcceptablePercentage().get(d.key)}"></td>
						<td th:text="${res.getRiskOccurenceCount().get(d.key)}"></td>
						<td
							th:text="${res.getExposureValues().get(stat.index).getAvg_risk_value()}"></td>
						<td
							th:text="${res.getExposureValues().get(stat.index).getAvg_residual_value()}"></td>
					</tr>

				</tbody>
			</table>

		</div>