<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<head>
<meta name="token" th:content="${atlassianConnectToken}"/>
<link rel="stylesheet" href="/css/aui.css" media="all"></link>
<link rel="stylesheet" href="/css/aui-experimental.css" media="all"></link>
<link rel="stylesheet" href="/css/aui-ie9.css" media="all"></link>
<link rel="stylesheet" href="/css/css1.css"></link>
<link rel="stylesheet" href="/css/viewmetrics.css"></link>
<link rel="stylesheet" href="/css/table.css"></link>
<link rel="stylesheet" href="/css/validation.css"></link>
<script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>
<script th:src="@{${atlassianConnectAllJsUrl}}" data-options="sizeToParent:true" ></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
   <script src="/js/errorHandling.js"></script>
<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">7V7HDZ5JRX2H-659952857-82393</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">9b407054-cdf7-422c-8216-ee3ca4384471</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://senecaglobal.sharepoint.com/sites/FileServer/_layouts/15/DocIdRedir.aspx?ID=7V7HDZ5JRX2H-659952857-82393, 7V7HDZ5JRX2H-659952857-82393</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
<style>
h3{
	text-align: center !important;
	margin: 1% 0% 0% 1% !important;
}
</style>
</head>
<body>
	<div class="container">
	<header><h2>RISK ASSESSMENT AND TREATMENT PLAN - DELIVERY</h2></header>
  <h3 th:text="${project_title}"></h3>
  <table class="table-data" align="center" border="1">
			<tr>
					<th>S.No</th>
  					<th class="levels">Risk Description</th>
  					<th>Risk Treatment Action Plan</th>
  					<th class="level">Target Date</th>
  					<th class="level">Actual Date</th>
  					<th class="level">Status</th>
  				</tr>

				 <tr th:each="map, itr : ${maprisk}">
				 		<td th:text="${itr.index + 1}"></td>
                        <td class="level1" th:text="${map.value[0]}"></td>
                        <td  class="level1" th:text="${map.value[1]}"></td>
                        <td class="level1" th:text="${map.value[2]}"></td>
                        <td class="level1" th:text="${map.value[3]}"></td>
                        <td class="level1" th:text="${map.value[4]}"></td>
                  </tr>
             
   </table>
   

<div id="buttons">

	<form action="#" th:action="@{/deliveryRiskControl(jwt=${atlassianConnectToken})}" th:object="${mychoice}">
<input type="hidden" name="jwt" th:value="${atlassianConnectToken}" ></input>
<input type="hidden"  th:field="*{projectname}"></input>
<button class="aui-button" id="submitid" type="submit" onclick="return validationForContinue()">Continue</button>

		</form>
<form action="#" th:action="@{/defectsReport(jwt=${atlassianConnectToken})}" th:object="${mychoice}">
<input type="hidden" name="jwt" th:value="${atlassianConnectToken}" ></input>
<input type="hidden"  th:field="*{projectname}"></input>
<button class="aui-button" id="submitid" type="submit" onclick="return validationForContinue()">Back</button>
		</form>

		</div>
</div>

<img src='images/712.GIF' id='selector' class="loading-dots" style="display:none"/>

</body>
</html>