<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<link rel="stylesheet" href="/css/viewmetrics.css"></link>
<link rel="stylesheet" href="/css/table.css"></link>
<link rel="stylesheet" href="/css/validation.css"></link>
<meta name="token" th:content="${atlassianConnectToken}" />
<script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <script src="/js/errorHandling.js"></script>


<head>
<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">7V7HDZ5JRX2H-659952857-82397</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">6ade5390-b162-41e5-aa61-704b098c6ff5</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://senecaglobal.sharepoint.com/sites/FileServer/_layouts/15/DocIdRedir.aspx?ID=7V7HDZ5JRX2H-659952857-82397, 7V7HDZ5JRX2H-659952857-82397</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head><body>
	<div id="head"></div>
		<div class="container">
		<header><h2>DEVELOPMENT EFFECTIVENESS</h2></header>
		<div id="table-left">
			<h3>Please select the project to display the reviews related metrics</h3>
			<form action="#"
				th:action="@{/ReviewsMonthlyMetrics(jwt=${atlassianConnectToken})}"
				th:object="${mychoice}">

				<label for="projectname">Project name<span class="mandatory">*</span></label> <select
					th:field="*{projectname}">
					<option value="">Please select</option>
					<option th:each="projectname : ${projectlist}"
						th:value="${projectname}" th:text="${projectname}"></option>
				</select> <input type="hidden" name="jwt" th:value="${atlassianConnectToken}" />
				<button class="btn btn-lg btn-primary btn-block" id="submitid"
					type="submit" onclick="return validationForTheProjectList()">Submit</button>
					<span class="error" id="error"></span>
			</form>

		</div>

	</div>
	
		<img src='images/712.GIF' id='selector' class="loading-dots" style="display:none"/>

</body>
</html>