<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<link rel="stylesheet" href="/css/viewmetrics.css"></link>
<link rel="stylesheet" href="/css/table.css"></link>
 <meta charset="utf-8"></meta>
<meta name="token" th:content="${atlassianConnectToken}"/>
 <script src="/js/errorHandling.js"></script>
	<script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>
<link rel="stylesheet" href="/css/validation.css"></link>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<head>
<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">7V7HDZ5JRX2H-659952857-82394</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">38e98eb3-f349-4f14-a2fc-18e0c4c75e3c</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://senecaglobal.sharepoint.com/sites/FileServer/_layouts/15/DocIdRedir.aspx?ID=7V7HDZ5JRX2H-659952857-82394, 7V7HDZ5JRX2H-659952857-82394</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head><body>
<div id="head"></div>

	<div class="container">
	<header><h2>INTERNAL AUDIT REPORT</h2></header>
	<div id="table-left">
		<h3>Please select the project, year and cycle to display the
			audit reports</h3>
		<form action="#" th:action="@{/auditReports(jwt=${atlassianConnectToken})}" th:object="${mychoice}" >
<label for="projectname">Project name<span class="mandatory">*</span></label> <select
					th:field="*{projectname}">
					<option value="">Please select</option>
					<option th:each="projectname : ${projectlist}"
						th:value="${projectname}" th:text="${projectname}"></option>
				</select>
				<label for="audityear">Year<span class="mandatory">*</span></label> <select th:field="*{audityear}"
			>
				<option value="">Please select</option>
				<option th:each="audityear : ${years}"
					th:value="${audityear}"  th:text="${audityear}" ></option>
			
			
			</select> 
 	
			<label for="cycle">Cycle<span class="mandatory">*</span></label> <select th:field="*{cycle}"
			>
				<option value="">Please select</option>
				<option th:each="cycle : ${cycles}"
					th:value="${cycle}"  th:text="${cycle}" ></option>
			
			
			</select> 

            <input type="hidden" name="jwt" th:value="${atlassianConnectToken}" />
			<button class="btn btn-lg btn-primary btn-block"  id="submitid" type="submit">Submit</button>
		</form>
		
	</div>
</div>
<img src='images/712.GIF' id='selector' class="loading-dots" style="display:none"/>

</body>
</html>